body {
    font-family: Arial, sans-serif; /* Yazı tipi ailesi */
    font-size: 11px; /* <p></p> etiketindeki ana yazının boyutu */
    background-color: #00ff40; /* Web sayfasının arka plan rengi */
    color: #; /* Metin rengi */
}

h1 {
    color: #0094a8; /* Başlık rengi */
    font-size: 10px; /* Başlık yazı tipi boyutu */
    font-family: Georgia, serif; /* Başlıkta kullanılan yazı tipi ailesi */
}

